@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Mulish', sans-serif;
  background-color: #FFFFFF;
  font-weight: 400;
}